<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Details</ion-title>
    <ion-buttons slot="start">
      <ion-back-button [text]="'Search'" defaultHref="/search"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" class="ion-no-border">
    <ion-toolbar>
      <ion-title size="large">Details</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-segment [(ngModel)]="currentSegment" (ionChange)="segmentChanged($event)">
          <ion-segment-button value="statistics">
            <ion-label>Statistics</ion-label>
          </ion-segment-button>
          <ion-segment-button value="angles">
            <ion-label>Angles</ion-label>
          </ion-segment-button>
        </ion-segment>

        <ng-container *ngIf="currentSegment === 'statistics'">
          <ng-container *ngIf="(skyCondition$ | async); else loading">
            <h6 class="ion-margin-start" style="margin-top: 30px">
              Sky Conditions
            </h6>
            <ion-row>
              <ion-col size="6">
                <ion-select
                  interface="popover"
                  [(ngModel)]="skyDataOptions.year"
                  (ionChange)="onChangeTime()"
                >
                  <ion-select-option value="2019-2020"
                    >2019-2020</ion-select-option
                  >
                  <ion-select-option value="2017-2018"
                    >2017-2018</ion-select-option
                  >
                  <ion-select-option value="2015-2016"
                    >2015-2016</ion-select-option
                  >
                </ion-select>
              </ion-col>
              <ion-col size="6">
                <ion-select
                  value="monthly"
                  interface="popover"
                  [(ngModel)]="skyDataOptions.time"
                  (ionChange)="onChangeTime()"
                >
                  <ion-select-option value="monthly">Monthly</ion-select-option>
                  <ion-select-option value="daily">Daily</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
            <ion-row class="ion-margin-top ion-margin-bottom">
              <ion-col>
                <canvas
                  id="sky"
                  width="400"
                  height="400"
                  baseChart
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [legend]="true"
                  [chartType]="'bar'"
                ></canvas>
              </ion-col>
            </ion-row>
          </ng-container>
          <ng-container *ngIf="solarIrradiance$ | async; else loading">
            <h6
              class="ion-margin-start ion-margin-top"
              style="margin-top: 30px"
            >
              Solar Irradiance
            </h6>
            <ion-row>
              <ion-col size="6">
                <ion-select
                  interface="popover"
                  [(ngModel)]="irradienceYear"
                  (ionChange)="solarIrradiance()"
                >
                  <ion-select-option value="2019-2020"
                    >2019-2020</ion-select-option
                  >
                  <ion-select-option value="2017-2018"
                    >2017-2018</ion-select-option
                  >
                  <ion-select-option value="2015-2016"
                    >2015-2016</ion-select-option
                  >
                </ion-select>
              </ion-col>
            </ion-row>
            <ion-row class="ion-margin-top">
              <ion-col>
                <canvas
                  id="sky"
                  width="400"
                  height="400"
                  baseChart
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [chartType]="'line'"
                ></canvas>
              </ion-col>
            </ion-row>
          </ng-container>

        </ng-container>
        <ng-container *ngIf="currentSegment === 'angles'">
          <strong>DeviceOrientationCompassHeading</strong>
          <p>{{orientation | json}}</p>
          <ion-button [disabled]="disableInteractiveButton" expand="block" (click)="goToInteractiveMode()" color="primary">
            <ion-label *ngIf="!disableInteractiveButton">
              3D Mode
            </ion-label>
            <ion-spinner *ngIf="disableInteractiveButton"></ion-spinner>
          </ion-button>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ng-template #loading>
    <ion-spinner></ion-spinner>
  </ng-template>
</ion-content>
