.button-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sun-img {
  height: auto;
  width: 130%;
  transform: translate(30%, -40%);
}


.logo-col {
  display: flex;
  align-items: center;
  justify-content: center;
}
